.card-list-button {
  background-color: #fff;
  box-sizing: border-box;
  border: none;
  border-radius: 80px;
  width: 288px;
  height: 64px;
  margin: 64px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #1A1B22;
  transition: opacity .5s;
}

.card-list-button:hover {
  opacity: .9;
}
