.about {
  display: flex;
  padding: 0 104px;
  height: 624px;
}

.about__photo {
  width: 464px;
  height: 464px;
  border-radius: 50%;
  margin: auto 0;
}

.about__container {
  margin: auto 112px auto 56px;
}

.about__title {
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  color: #1A1B22;
  margin: 0;
  margin-bottom: 24px;
}

.about__text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #1A1B22;
  margin: 0;
  margin-bottom: 15px;
}
