.header {
  max-width: 1440px;
  height: 80px;
  display: flex;
  border-bottom: 1px solid rgba(26, 27, 34, 0.5);
  padding: 0 104px;
  position: relative;
  z-index: 1;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@media (max-width: 800px) {
  .header {
    height: 66px;
    padding: 0 40px;
  }
}

@media (max-width: 450px) {
  .header {
    height: 56px;
    padding: 0 16px;
  }
}
