.footer {
  padding: 0 104px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer__nav {
  display: flex;
  align-items: center;
}

.footer__socials {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin-left: 10px;
}

.footer__social:first-child {
  margin-right: 28px;
}
